
<h2>Register</h2>
<p>On this page you can register with our Barber Shop</p>

<form action="/visit" methods="POST">

  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label>Your phone number</label>
    <input name="phone" type="text" class="form-control" placeholder="Your phone number">

      <div class="form-group">
    <label>When to wait for you?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Enter date and time">
  </div>

  </div>
   <button type="submit" class="btn btn-primary">Register</button>

</form>
